[Desktop Entry]
Version=1.0
Name=ADBFileExplorer
GenericName=ADBFileExplorer
Encoding=UTF-8
Type=Application
Terminal=false
Exec=/ADBFileExplorer/run.sh
Icon=/ADBFileExplorer/src/resources/icons/logo.svg
Comment=ADBFileExplorer
StartupWMClass="ADBFileExplorer"
